@import url("http://fonts.googleapis.com/css?family=Great+Vibes");
body {
  font: normal 1em/1.5em Helvetica Neue;
  text-align: center;
}
h1 {
  font-size: 600%;
  font-weight: 300;
  line-height: 0.1;
  margin: 30px;
  text-align: center;
}
h1 img {
  max-width: 515px;
  width: 80%;
}
@media (min-width: 767px) {
  h1 img {
    width: 40%;
  }
}
h2 {
  color: #149078;
  font-family: 'Great Vibes', cursive;
  font-size: 200%;
  font-weight: 300;
  line-height: 0.4;
  margin: 0;
  text-shadow: 0 1px rgba(255,255,255,0.3);
}
@media (min-width: 767px) {
  h2 {
    font-size: 250%;
  }
}
h3 {
  font-size: 80%;
  line-height: 1.4;
  margin: 20px 0;
}
body {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #7dedd7), color-stop(6, #15967d));
  background: -webkit-linear-gradient(top, #7dedd7 0px, #15967d 600px);
  background: -moz-linear-gradient(top, #7dedd7 0px, #15967d 600px);
  background: -o-linear-gradient(top, #7dedd7 0px, #15967d 600px);
  background: -ms-linear-gradient(top, #7dedd7 0px, #15967d 600px);
  background: linear-gradient(top, #7dedd7 0px, #15967d 600px);
  color: #666;
}
.panel {
  background: #f2f2f2;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border-top: 2px solid #fff;
  -webkit-box-shadow: 0 2px 10px rgba(0,0,0,0.4);
  box-shadow: 0 2px 10px rgba(0,0,0,0.4);
  margin: 140px auto 25px;
  padding: 90px 25px 25px 25px;
  position: relative;
  width: 80%;
}
@media (min-width: 767px) {
  .panel {
    width: 60%;
  }
}
.main-image {
  background: #f9f9f9;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.1);
  box-shadow: 0 1px 5px rgba(0,0,0,0.1);
  height: 200px;
  left: 50%;
  margin-left: -100px;
  position: absolute;
  top: -100px;
  width: 200px;
}
.main-image .container {
  border: 1px solid #ddd;
  -webkit-border-radius: 90px;
  border-radius: 90px;
  height: 180px;
  margin: 10px auto;
  overflow: hidden;
  width: 180px;
}
.main-image .container img {
  margin: -30px 0 0 -5px;
}
.button {
  background: #34495e;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  padding: 10px;
  text-decoration: none;
}
.button:active,
.button:focus,
.button:hover {
  background: #476481;
  -webkit-transition: 0.3s all ease-in-out;
  -moz-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  -ms-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}
.map-container {
  border: 2px solid #fff;
  height: 300px;
  margin-top: 25px;
}
.address {
  font-size: 85%;
  font-style: italic;
}
