$white = #FFFFFF
$black = #000000
$dark-blue = #34495e
$turquoise = #1abc9c

$transition = 0.3s all ease-in-out

$gutter = 25px

// Import your stylus here
@import 'nib'
@import 'typography'
@import 'font'

body 
	background 					linear-gradient(top, lighten($turquoise,70%) 0px, $turquoise 600px)
	color 						#666666

.panel
	background 					#f2f2f2
	border-radius 				5px
	border-top 					2px solid $white
	box-shadow 					0 2px 10px rgba(0,0,0,0.4);
	margin						140px auto $gutter
	padding 					90px $gutter $gutter $gutter
	position 					relative
	width 						80%

	&.specials
		margin-top: 			$gutter

	@media (min-width: 767px)
		width 					60%

.main-image
	background 					#f9f9f9
	border-radius 				100px
	box-shadow 					0 1px 5px rgba(0,0,0,0.1);
	height 						200px
	left 						50%
	margin-left 				-100px
	position 					absolute
	top 						-100px
	width 						200px

	.container
		border 					1px solid #ddd
		border-radius 			90px
		height 					180px
		margin					10px auto
		overflow 				hidden
		width 					180px

		img
			margin 				-30px 0 0 -5px

.button,
.button:visited

	display 					inline-block
	color 						#666
	font-size 					85%
	margin 						$gutter*0.3 $gutter
	text-decoration 			none

	@media(min-width:767px)
		margin 					0 $gutter

	span
		background 				rgba($black,0.8)
		border-radius 			$gutter*3
		color 					$white
		display 				block
		height 					$gutter*3
		margin-bottom 			$gutter/2
		width 					$gutter*3

	i
		display 				block
		font-size 				200%
		line-height 			$gutter*3

	&:active,
	&:focus,
	&:hover
		color 					#333
		transition 				$transition

		span
			background 			darken($turquoise, 20%)
			transition 			$transition

.map-container
	border 						2px solid $black
	height 						300px
	margin-top 					$gutter

.address
	font-size 					85%
	font-style 					italic

.page-footer
	background 					#eee
	border-top 					1px solid #bbb
	bottom 						0
	left 						0
	position 					fixed
	width 						100%

.price-list
	margin 						$gutter*2 0
