@import url(http://fonts.googleapis.com/css?family=Great\+Vibes);

body
	font 					normal 1em/1.5em Helvetica Neue
	text-align 				center

h1
	font-size 				600%
	font-weight 			300
	line-height 			0.1
	margin 					30px
	text-align 				center

	img

		max-width 			515px
		width 				80%

		@media (min-width: 767px)
			width 			40%

h2
	color 					darken(#16a085,10%)
	font-family 			'Great Vibes', cursive
	font-size 				200%
	font-weight 			300
	line-height 			0.4
	margin 					0
	text-shadow 			0 1px rgba(255,255,255,0.3)

	@media (min-width: 767px)
		font-size 			250%

h3
	font-size 				80%
	line-height 			1.4
	margin 					20px 0
	
.price-list,
.special-offers
	h2
		color 					$white
		text-shadow 			0 -2px 1px rgba($black,0.3)